.track-table {
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
  }
  .content {
    flex-grow: 1;
  }
  .row:not(.mobile) {
    border-bottom: 1px solid var(--border-color);
  }
  .track-title.mobile {
    font-weight: bold;
    margin-bottom: 0.1em;
  }
}

.track-row,
.track-table.row {
  .ui.really.tiny.button.play-button {
    visibility: hidden;
  }
  .ui.icon.really.tiny.button.play-button.paused {
    color: var(--main-color);
    visibility: visible;
    display: contents;
    left: auto;
    right: auto;
  }
  .ui.floating.dropdown {
    visibility: hidden;
  }
  .ui.favorite-icon {
    visibility: hidden;
  }
  .ui.favorite-icon.pink {
    visibility: visible;
  }
  .actions {
    display: block;
    max-width: 2rem;
    width: 100%;
  }
  .actions.left.floated.column {
    width: 3% !important;
  }
  .meta.right.floated.column:not(.mobile) {
    width: 45px;
  }
  .content,
  .meta,
  .image {
    user-select: none;
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .ui.artist-track.mini.image {
    top: auto;
    bottom: 0;
    position: absolute;
    margin: auto;
  }

  .image.left.floated.column {
    width: 51px;
  }
}

.track-row{
  &.active {
    background: rgba(155, 155, 155, 0.2);
  }
  &:hover:not(.mobile) {
    background: rgba(155, 155, 155, 0.1);
  }
}

.track-row.mobile {
  height: 75px;

  .modal-button {
    width: 10vw;
  }
  .actions div {
    height: 75px;
    line-height: 75px;
    text-align: center;
  }
}

.track-row:hover:not(.mobile) {
  cursor: pointer;

  // explicitly style the button as if it was hovered itself

  .ui.icon.really.tiny.button.play-button {
    color: var(--main-color);
    visibility: visible;
    display: contents;
    left: auto;
    right: auto;
  }
  .ui.floating.dropdown {
    visibility: visible;
  }
  .ui.favorite-icon {
    visibility: visible;
  }
}

.track-row, 
.track-table {
  border-radius: 5px;
  padding: 0.5em;
  > div {
    padding: 0.25em;
    &:not(:last-child) {
      margin-right: 0.25em;
    }
  }
  .favorite-icon.tiny.button {
    border: none !important;
    padding: 0 !important;
    margin: 0 0.5em;
    transition: all ease-in-out;
  }
}

.track-position {
  cursor: pointer;
  display: contents;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  font-family: var(--font-family);
  margin: 0 0.25em 0 0;
  line-height: 1em;
  padding: 0.5rem;
  user-select: none;
  
  .mobile span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
