
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

:root {
  --fw-track-progress: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

input[type=search]::-webkit-search-cancel-button {
  appearance: none;
}
