[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "~=0.4.0"
django-allauth = "~=0.42.0"
psycopg2 = "~=2.9.1"
pytz = "==2021.1"
django-redis = "~=5.0.0"
redis = "~=3.5.0"
kombu = "~=5.1.0"
celery = "~=5.1.2"
django-cors-headers = "~=3.7.0"
musicbrainzngs = "~=0.7.1"
djangorestframework = "~=3.12.2"
arrow = "~=1.1.0"
persisting-theory = "~=0.2.0"
django-versatileimagefield = "~=2.1.0"
django-filter = "~=2.4.0"
django-rest-auth = "~=0.9.0"
ipython = "~=7.25.0"
mutagen = "~=1.45.0"
django-dynamic-preferences = "~=1.10"
python-magic = "~=0.4.0"
channels = "~=3.0.3"
channels-redis = "~=3.3.0"
uvicorn = {version = "~=0.14.0", extras = ["standard"]}
gunicorn = "~=20.1.0"
cryptography = "~=3.4.7"
requests-http-signature = {ref = "signature-header-support", git = "https://github.com/agateblue/requests-http-signature.git"}
django-cleanup = "~=5.2.0"
requests = "~=2.25.1"
python-ldap = "~=3.3.0"
django-auth-ldap = "~=2.4.0"
pydub = "~=0.25.1"
aiohttp = "~=3.7.4"
django-oauth-toolkit = "~=1.5.0"
django-storages = "~=1.11.1"
boto3 = "~=1.17.59"
unicode-slugify = "~=0.1.0"
django-cacheops = "~=6.0.0"
service-identity = "~=21.1.0"
click = "~=7.1.0"
bleach = "~=3.3.0"
feedparser = "~=6.0.0"
watchdog = "~=2.1.2"
asgiref = "==3.3.4"
Django = "~=3.2.3"
Pillow = "~=8.3.0"
PyMemoize = "~=1.0.0"
pyOpenSSL = "~=20.0.1"
PyLD = "~=2.0.3"
Markdown = "~=3.3.4"

[dev-packages]
coverage = "~=5.5.0"
django-coverage-plugin = "~=2.0.0"
factory-boy = "~=3.2.0"
django-debug-toolbar = "~=3.2.1"
ipdb = "~=0.13.7"
prompt-toolkit = "~=3.0.18"
black = "~=21.4b1"
asynctest = "~=0.13.0"
aioresponses = "~=0.7.2"
flake8 = "~=3.9.1"
pytest = "~=6.2.3"
pytest-cov = "~=2.12.0"
pytest-django = "~=4.4.0"
pytest-env = "~=0.6.0"
pytest-mock = "~=3.6.0"
pytest-randomly = "~=3.8.0"
pytest-sugar = "~=0.9.0"
pytest-asyncio = "~=0.15.1"
requests-mock = "~=1.9.0"
Faker = "~=8.9.1"

[requires]
python_version = "3"

[pipenv]
# This is needed to allow the installation of black and requests-http-signature
allow_prereleases = true
